<div class="d-flex flex-column ">
  <div class="mt-5">
    <div class="col-12" routerLink="/user/dashboard" routerLinkActive="bg-deep-blue">Dashboard</div>
    <div class="col-12" routerLink="/user/add-vehicle" routerLinkActive="bg-deep-blue">Dodaj pojazd</div>
    <div class="col-12" routerLink="/user/test">Lista pojazdów</div>
    <div class="col-12">Umów wizytę</div>
  </div>

  <hr>

  <div class="col-12" routerLink="/user/dashboard" routerLinkActive="bg-deep-blue">Dashboard</div>
  <div class="col-12" routerLink="/employee/add-vehicle" routerLinkActive="bg-deep-blue">Dodaj pojazd</div>
  <div class="col-12" routerLink="/employee/list-cars" routerLinkActive="bg-deep-blue">Lista pojazdów</div>
  <div class="col-12">Umów wizytę</div>
</div>
